<!-- #1 -->
<!-- <div><b>Has Upvote for: <%= post.hasUpvoteFor(currentUser.id) %></b></div><br><br>
<div><b>Has Downvote for: <%= post.hasDownvoteFor(currentUser.id) %></b></div><br> -->

<div class="pull-left" style="width: 40px;text-align: center;">

    
    <div>
    <!-- #2 -->
    <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/votes/upvote">&#9650;</a>
    </div>
    <!-- #3 -->
    <b><%= post.getPoints() %></b>
    <div>
    <!-- #4 -->
    <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/votes/downvote">&#9660;</a>
    </div>
</div>